:root {
    --white: #fff;
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    color: var(--white);
}
main {
    margin: 30px auto;
}
.section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    padding: 3px;
    border-radius: 8px;
}
.section1 h1 {
    text-align: center;
}
.section1 table {
    margin: 5px auto;
}
button {
    width: 85px;
    height: 85px;
    font-size: 40px;
    font-weight: bold;
    color: var(--black);
}
button:hover{
    cursor: pointer;
}
.section2 {
    height: 400px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.estadisticas {
    border: 1px solid var(--white);
    height: 105px;
    width: 212px;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 15px auto;
    font-size: 20px;
}
footer {
    text-align: center;
}
footer a {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
        max-width: 770px;
    }
    .section1{
        width: 65%;
        margin: 10px auto;
    }
    .section2 {
        width: 30%;
    }
    .estadisticas {
        text-align: left;
    }
}